.Clearbit {
  position: absolute;
  right: 1rem;
  bottom: 0.125rem;
}
.Clearbit > a {
  color: black;
  font-size: 0.75rem;
}
/* COLORS */
.color0 {
  background-color: #eae0e0;
}
.color1 {
  background-color: #e7d0d0;
}
.color2 {
  background-color: #e5bcbe;
}
.color3 {
  background-color: #e1a4a7;
}

/* NAV STYLES */
.navbar-container {
  top: 0;
  width: 100%;
  height: fit-content;
  padding: 1rem;
  /* background-color: var(--accent);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px; */
}

.navbar-container > nav {
  display: flex;
  justify-content: space-between;
}

.navbar-container > nav > div {
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav-logo-container {
  position: relative;
}
.nav-logo-container > span {
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  font-size: larger;
  font-weight: bolder;
  z-index: 10;
  text-align: center;
  opacity: 0.75;
}

.search-bar-container {
  width: 40%;
}
.search-bar-container > input {
  width: 100%;
  height: 2.5rem;
  padding: 0.25rem 0.75rem;
  border-radius: 0.5rem;
  border: 1px solid var(--light-fg);
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  font-size: medium;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  outline: none;
}
.search-bar-container > input:focus {
  border: 2px solid var(--primary-btn);
}

.nav-settings {
  display: flex;
  gap: 2.5rem;
  justify-content: center;
  align-items: center;
}
.nav-settings > button {
  display: flex;
  justify-content: center;
  align-items: center;
  background: none;
  border: none;
  border-radius: 0.5rem;
  font-size: larger;
  font-weight: bolder;
  padding: 0.5rem;
}
.nav-settings > button:hover {
  cursor: pointer;
}
.logout-btn:hover {
  background-color: var(--accent);
}
.logout-btn:active {
  background-color: var(--accent);
  color: var(--light-fg);
}

/* MAIN CONTAINER STYLES */
.main-container {
  display: flex;
  gap: 1rem;
  margin-top: 1rem;
  padding: 1rem;
  width: 100%;
  height: 97%;
  max-height: 97%;
  overflow: auto;
}

.list-container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 35%;
  height: 100%;
  max-height: 100%;
  border-radius: 0.75rem;
  overflow: scroll;
}

.password-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1.25rem;
  height: 7rem;
  min-height: 6rem;
  width: 100%;
  border-radius: 0.75rem;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px,
    rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
}

.password-all-info {
  display: flex;
  height: 100%;
}

.compagny-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.pastille-info-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  gap: 0.25rem;
  padding: 0.5rem;
  justify-content: baseline;
  align-items: baseline;
  margin-top: 1rem;
}

.pastille-info-container > h3 {
  font-weight: bold;
  font-size: medium;
}
.pastille-info-container > p {
  font-weight: 300;
  font-size: small;
}
.compagny-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 3.5rem;
  height: 3.5rem;
  padding: 0.125rem;
  border-radius: 0.5rem;
  background-color: var(--light-fg);
  overflow: hidden;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}
.compagny-logo > img {
  border-radius: 0.5rem;
  height: 100%;
  width: 100%;
  max-width: 100%;
  max-height: 100%;
}

.password-btns-container {
  display: flex;
  width: 40%;
  height: 100%;
  padding: 0.5rem;
  justify-content: space-between;
  align-items: end;
}
.password-btns-container > button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
  font-size: medium;
  border: none;
  background-color: var(--primary-btn);
  border-radius: 0.25rem;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
    rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
  transition: transform 500ms;
}
.password-btns-container > button:hover,
.password-btns-container > button:focus-visible {
  transform: translateY(-0.1rem);
  cursor: pointer;
}
.password-btns-container > button:active {
  background-color: var(--light-fg);
}

/* VIEW CONTAINER */
.view-container {
  display: flex;
  flex-direction: column;
  width: 65%;
  padding: 0.5rem;
  background-color: var(--grey-bg);
  border-radius: 0.75rem;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px,
    rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
}
.view-menu {
  display: flex;
  justify-content: right;
  gap: 0.75rem;
}

.setting-btn,
.add-btn,
.generate-btn {
  background: none;
  border: none;
  transition: transform 500ms;
}
.view-menu > button:hover,
.view-menu > button:focus-visible {
  transform: translateY(-0.085rem);
  cursor: pointer;
}

/* ANIMATIONS */
.test-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  width: 400px;
  height: 100%;
}
.login-content {
  position: relative;
  border-radius: 1rem;
  background-color: var(--primary-btn);
  width: 100%;
  height: 300px;
}

.left-door,
.right-door {
  visibility: hidden;
  opacity: 0;
  background-color: var(--grey-bg);
  position: absolute;
  top: 0;
  height: 100%;
  width: 50%;
  transition: opacity 1s linear;
}
.left-door {
  border-top-left-radius: 1rem;
  border-bottom-left-radius: 1rem;
  border: 4px solid rgb(182, 173, 173);
  left: -50%;
}
.right-door {
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
  border: 4px solid rgb(182, 173, 173);
  right: -50%;
}
.left-door > img,
.right-door > img {
  opacity: 0.3;
  object-fit: fill;
  height: 100%;
  width: 100%;
  max-width: 100%;
  max-height: 100%;
}
.left-door > img {
  border-top-left-radius: 0.8rem;
  border-bottom-left-radius: 0.8rem;
}
.right-door > img {
  border-top-right-radius: 0.8rem;
  border-bottom-right-radius: 0.8rem;
}
.animate-left {
  animation: left 1000ms forwards, bleft 1000ms 4300ms forwards;
}
.animate-right {
  animation: right 1000ms forwards, bright 1000ms 4300ms forwards;
}
/* .animate-back-left {
  animation: back-left 1000ms forwards;
}
.animate-back-right {
  animation: back-right 1000ms forwards;
} */
.lock {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 64px;
  height: 64px;
  z-index: 12;
  border-radius: 50%;
  /* background-color: darkmagenta;
  border: 2px solid black; */
  top: 0;
  bottom: 0;
  margin-top: auto;
  margin-bottom: auto;
  left: -19.5%;
}
.lock > img {
  max-width: 100%;
  max-height: 100%;
}
.rotate-lock {
  animation: rlock 1000ms 1100ms forwards, llock 1000ms 3000ms forwards;
}
@keyframes left {
  100% {
    visibility: visible;
    opacity: 1;
    left: 0;
  }
}
@keyframes right {
  100% {
    visibility: visible;
    opacity: 1;
    right: 0;
  }
}

@keyframes bleft {
  100% {
    opacity: 0;
    left: -50%;
  }
}
@keyframes bright {
  100% {
    opacity: 0;
    right: -50%;
  }
}

@keyframes rlock {
  to {
    transform: rotate(360deg);
  }
}
@keyframes llock {
  to {
    transform: rotate(-360deg);
  }
}
